/* CSS Document */

body{
	margin: 0;
	background-color: #0E7687
}
.banner-home{
	background-image:url("assets/images/Dope BEATS.png");
	height: 300px;
	background-size: cover;
	background-position: center;
	padding-top: 5px;
}
h1{
	font-family: 'Righteous', cursive;
	text-align: center;
	font-size: 5em;
	margin-top: 0;
	color: aliceblue;
}
nav ul li a{
	text-decoration: none;
	color: aqua;
	background-color: #00B5D4;
	display: block;
	text-align: center;
	padding: 10px 0 10px 0;
	margin-bottom: 5px;
	font-size: 2em
}
nav ul li a:hover{
	background-color: aliceblue;
}
nav ul{
	list-style: none;
	padding-left: 0;
}
.banner-contact{
	background-image:url("assets/images/person-holding-midnight-black-samsung-galaxy-s8-turn-on-near-1092671.jpg");
	height: 300px;
	background-size: cover;
	background-position: center;
	padding-top: 20px;
}
.banner-about{
	background-image:url("assets/images/IMG_0716.JPG");
	height: 300px;
	background-size: cover;
	background-position: center;
	padding-top: 20px;
	
}
.banner-blog{
	background-image:url("assets/images/coffee-notebook-writing-computer-34601.jpg");
	height: 300px;
	background-size: cover;
	background-position: center;
	padding-top: 20px;
}
.banner-videos{
	background-image:url("assets/images/lighted-dj-board-164745.jpg");
	height: 300px;
	background-size: cover;
	background-position: center;
	padding-top: 20px;
}
.section-videos{
	align-content: center;
}
#images{
	align-content: center;
}